@media (min-width: 1400px){
  .container {
    max-width: 1440px;
  }
}

/* ----------------------------header----------------------- */

.cont_icon{
  font-size: 18px;
}
.logo_name{
  color: var(--Color-1, #37C38F);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.main_menu a{
  color: #4B4D5F;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  padding: 28px 70px 28px 0 !important;
}
.main_menu a.active,
.main_menu a:hover{
  color: #37C38F !important;
  text-decoration: underline !important;
  text-underline-offset: 5px;
}
.btn-theme{
  color: var(--Color-1, #37C38F);
  font-weight: 600;
  line-height: 24px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.10);
  padding: 11px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  &:hover{
    background: #37C38F;
    color: #fff;
  }
}