/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Jost:wght@400;500;600;700&display=swap'); */

/* inter-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/inter-v13-latin-regular.eot');
  src: url('./assets/fonts/inter-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/inter-v13-latin-regular.woff2') format('woff2'), 
       url('./assets/fonts/inter-v13-latin-regular.woff') format('woff'), 
       url('./assets/fonts/inter-v13-latin-regular.ttf') format('truetype'),
       url('./assets/fonts/inter-v13-latin-regular.svg#Inter') format('svg'); 
}
/* inter-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/inter-v13-latin-500.eot'); 
  src: url('./assets/fonts/inter-v13-latin-500.eot?#iefix') format('embedded-opentype'), 
       url('./assets/fonts/inter-v13-latin-500.woff2') format('woff2'),
       url('./assets/fonts/inter-v13-latin-500.woff') format('woff'), 
       url('./assets/fonts/inter-v13-latin-500.ttf') format('truetype'), 
       url('./assets/fonts/inter-v13-latin-500.svg#Inter') format('svg'); 
}
/* inter-600 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/inter-v13-latin-600.eot'); 
  src: url('./assets/fonts/inter-v13-latin-600.eot?#iefix') format('embedded-opentype'), 
       url('./assets/fonts/inter-v13-latin-600.woff2') format('woff2'), 
       url('./assets/fonts/inter-v13-latin-600.woff') format('woff'), 
       url('./assets/fonts/inter-v13-latin-600.ttf') format('truetype'), 
       url('./assets/fonts/inter-v13-latin-600.svg#Inter') format('svg'); 
}
/* inter-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/inter-v13-latin-700.eot'); 
  src: url('./assets/fonts/inter-v13-latin-700.eot?#iefix') format('embedded-opentype'), 
       url('./assets/fonts/inter-v13-latin-700.woff2') format('woff2'),
       url('./assets/fonts/inter-v13-latin-700.woff') format('woff'),
       url('./assets/fonts/inter-v13-latin-700.ttf') format('truetype'),
       url('./assets/fonts/inter-v13-latin-700.svg#Inter') format('svg');
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 28px;
  overflow-x: hidden !important;
  color: #6B758E;
  background: #F7F7F7;
}
a{
  text-decoration: none !important;
  display: inline-block;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
.spacer{
  padding: 120px 0;
}
.spacer-top{
  padding-top: 120px;
}
.spacer-bottom{
  padding-bottom: 120px;
}
.bg-black{
  background-color: var(--txtBlack);
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.bg-green{
  background-color: #37C38F;
  color: white;
}
.text-green{
  color: #37C38F;
}

